hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50

image:
  tag: "0.2.0"

strategy: canary
canarySteps:
  - setWeight: 20
  - pause: {}
  - setWeight: 50
  - pause: {duration: 30s}
  - setWeight: 100

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  ENVIRONMENT: production

ingress:
  host: orderflow.prod.k3d.local

monitoring:
  enabled: true
