apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: orderflow-alerts
  namespace: monitoring
  labels:
    release: prometheus
spec:
  groups:
    - name: orderflow
      interval: 30s
      rules:
        - alert: HighErrorRate
          expr: |
            (sum(rate(http_requests_total{status=~"5.."}[5m])) 
            / 
            sum(rate(http_requests_total[5m]))) > 0.05
          for: 2m
          labels:
            severity: warning
          annotations:
            summary: High error rate on orderflow
            description: "Error rate is {{ $value | humanizePercentage}}"
            