hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 75

image:
  tag: "0.2.0"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

env:
  ENVIRONMENT: staging

ingress:
  host: orderflow.staging.k3d.local

monitoring:
  enabled: true