replicaCount: 3

imagePullSecrets:
  - name: ghcr-secret

image:
  repository: ghcr.io/piotrsacharuk/order-flow
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

env:
  ENVIRONMENT: canary-test-v2
