image:
  repository: prom/node-exporter
  tag: "v1.8.0"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 50m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 64Mi

nodeSelector: {}

tolerations:
  - effect: NoSchedule
    operator: Exists
  - effect: NoExecute
    operator: Exists

service:
  type: ClusterIP
  port: 9100
  targetPort: 9100
